{
  "singleQuote": true,
  "semi": true,
  "printWidth": 100,
  "trailingComma": "all",
  "arrowParens": "always",
  "vueIndentScriptAndStyle": true,
  "plugins": ["prettier-plugin-organize-imports"]
}
